@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;500&family=Karla:wght@400;800&family=Roboto+Mono:wght@300&family=Zilla+Slab:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Gemunu Libre', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.satelites-section, .astros-section, .planets-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


.container{
  width: 100;
  height: 100vh;
}

.astros, .main, .satellite {
  height: 100%;
  width: 100%;
  max-width: 990px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-section{
  color:blanchedalmond;
  font-size: 3rem;
  font-weight: bolder;
  margin: 2rem 0;
}

.nav-menu{
  background: linear-gradient(
      to bottom,
      rgba(1, 1, 1, 0.934),
      rgb(0, 0, 0),
      rgb(0, 0, 0)
    );
  
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
}

#logo_nav{

  font-size: 5rem;
}

.nav-bar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
}
.nav-list{
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  flex-wrap: wrap;
}


.nav-list{
  position: relative;
}
.nav-list > li{
  margin-left: 1rem;
  padding: 0.5rem;
  list-style-type: none;
  color: white;
  text-align: center;

}




.nav-list > li > a{
  font-size: 1.1rem;
  text-align: center;
  margin: 1rem;
  position: relative;
  padding-bottom: 0.5rem;

  
}

.logo{
  font-size: 1.1rem;
  text-align: center;
  margin: 1rem;
  color: white;
}

a:after{
  text-align: center;
  position: absolute;
  bottom:0;
  left:0;
  content: " ";
  width: 0;
  height: 2px;
  transition: 0.3s;
}

 a:hover:after{
  text-align: center;
  position: absolute;
  bottom:0;
  right:0;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid white;
}


.main-section {
  display: flex;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 0.527),
      rgb(0, 0, 0)
    ),
    url("/assests/img/earth-main2.jpg") no-repeat top center;
    background-size: 100%;
  background-size: cover;
  
  height: 100vh;
  width: 100%;
}

.planets-section {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  background-color: #000;
  position: relative;
}


.planet-list{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;  
  gap:40px;
  scroll-behavior: smooth;
}



.planet-cards{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  max-height: 400px;
  /* border: 1px solid rgba(255, 255, 255, 0.628); */
  padding: 0.6rem;
  margin-top: 80px;
  position: relative;
  left: 750px 
}

.btn-before,.btn-after{
  padding: 0.5rem;
  background-color:rgb(255, 255, 255);
  z-index: 1;
  font-size: 1rem;
  opacity: 0.4;
}

.btn-before{
  position:absolute;
  left: 30px;
  top:50%;
  z-index: 1;
}
.btn-after{
  position:absolute;
  right: 30px;
  top:50%;
}

.planet-img {
  max-width: 150px;
  width: 100%;
  height: auto;
  position: relative;
  top: -70px;
  left: 60px;
  -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(0,0,0,0.2));
  padding-bottom: 0.3rem;
}

.planet-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  /* min-height: 100px; */
  word-wrap: break-word;
  padding: 0.8rem;
}

.planet-name{
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  color:rgb(255, 255, 255);

}

.planet-description{
  color: rgb(255, 255, 255);
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.satelites-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #000;
}

.stl-container{
  width: 100%;
  height: auto;
  border: 1px solid white;
  padding: 1rem;
  flex-wrap: wrap;
}

.satellite-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3 100px;  
  height: 100%;
}

.satellite-description > h4 {
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

/* .satellite-description{
  flex: 1;
} */

.satellite-description > p
{
  text-align: justify;
  font-size: 1rem;
  color: antiquewhite;
}

.satellite-img{
  flex: 1 100px;
height: 100%;
perspective: 100px;
padding-left: 1rem;
}


.satellite-img img{
  max-width: 100%;
  height: 100%;
  object-fit: contain;

}
.astros-section {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.626),
    rgba(0, 0, 0, 0)
  ),url("/assests/img/astros-night.jpg") no-repeat;
  background-position: right bottom;  
  background-size: cover;
  height: 100vh;
  width: 100%;
}


.astros-img{
  width: 50%;
  height: 100%;
}
.astros-img img{
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}


.astros-description{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.astros-head {
  width: 100%;
  height: 50%;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

.astros-head h1 {
  color: white;
  margin: 0;
}

.astros-head p {
  color: white;

}

.astros-body{
  width: 100%;
  height: 70%;
  color: white;
}

.footer-section {
  height: 200px;
  width: 100%;
  background-color: rgb(32, 31, 31);
  color:white;
}


.rodape{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.rodape-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rodape-direitos{
  text-align: center;
}

.rodape-media > ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.rodape-media  ul li{
  list-style-type: none;
  padding-left: 1rem;
}

.rodape-info  ul li{
  list-style-type: none;
}

.icon-media{
  font-size: 2rem;
}